body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('img/3 coches f1.jpg.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.nav-button {
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.nav-button:hover {
    background-color: darkred;
}

.search-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde similar al fondo */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mezclarse con la página */
    color: white;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder con poco contraste */
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0.7); /* Color del botón que combina con el diseño */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: rgba(255, 0, 0, 0.9); /* Oscurecer el botón al pasar el ratón */
}

.highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
}
